@import "compass/css3";
@import "compass/typography/lists/inline-list";
@import "compass/typography/lists/bullets";
@import "mixins/bullets";

a:visited {
  color: $purple;
}

hr {
  @include single-box-shadow(#eee, 0, 1px, 8px, 1px);
}

dl {
  margin: 0 0 1.5em 0;
  dt {
    font-weight: bold;
    color: #666;
  }
}

dd {
  margin: 0.25em 0 1em 1.5em;
  font-size: 12px;
}

article {
  h1, h2 {
    font-family: 'Droid Sans', $baseFontFamily;
  }

  h2 {
    font-size: 14px;
    margin-bottom: 0.5em;
  }

  header {
    margin-bottom: 1em;

    h1 { font-size: 20px; }

    time {
      font-size: 11px;
    }
  }
}

#main-header {
  padding: 1em 0;

  h1 {
    @include single-text-shadow($voff: 1px);
    font-size: 26px;
    font-family: 'Josefin Slab', $baseFontFamily;

    a, a:active, a:visited {
      color: $textColor;
      text-decoration: none;
    }
  }
}

#main-nav {
  ul { @include delimited-list(" | "); }
}

section h1 {
  margin-bottom: 0.5em;
  font-size: 18px;
  font-family: 'Amaranth', $baseFontFamily;
}

#main {
  font-size: 14px;
}

#copyright {
  margin-top: 1em;
  font-size: 11px;
  color: #bbb;
  text-align: right;
}

#main-footer {
  border-top: 4px solid #ddd;
  margin-top: 1em;
  margin-bottom: 0.5em;
  padding-top: 1em;
}

#footer-links {
  @include clearfix;
}

#related-links {
  float: left;
  margin-left: 0;

  @include no-bullets;

  li {
    margin-bottom: 2px;
  }

  .twitter {
    @include pretty-bullet("icons/twitter_16.png");
  }

  .github {
    @include pretty-bullet("icons/github_16.png");
  }

  .email {
    @include pretty-bullet("icons/mail-at-sign.png");
  }
}

#stackoverflow-flair { float: right; }

.more { display: none; }

.feedburnerFeedBlock {
  .headline {
    font-family: 'Droid Sans', $baseFontFamily;
  }

  .date {
    display: inline;
    margin-left: 0.5em;
    color: #666;
    font-size: 12px;
  }
}
