@import "compass/css3";
@import "compass/typography/lists/inline-list";
@import "blueprint";

//-----------------------------------------------
// The following html5-boilerplate styles should
// probably be customized for each site
//-----------------------------------------------

body, select, input, textarea {
  color: $font-color;
  // Set your base font here, to apply evenly
  // font-family: Georgia, serif;
  font-family: $blueprint-font-family;
}

//Headers (h1, h2, etc) have no default font-size or margin; define those yourself
h1, h2, h3, h4, h5, h6 {
  // Bold might not be the best choice if you are
  // embedding a @font-face that's already bold
  font-weight: bold;
}

a, a:active { color: $link-color; }
a:visited { color: $link-visited-color; }
a:hover { color: $link-hover-color; }

strong, th {
  font-weight: bold;
}

small {
  // Use font-size mixin to convert to percentage for YUI
  // http://developer.yahoo.com/yui/3/cssfonts/#fontsize
  @include font-size(11px);  // approx 85% when base-font-size eq 13px
}

// Add the 'required' attribute on your
// inputs if you want to use these
input:valid, textarea:valid {}
input:invalid, textarea:invalid {
  @include border-radius(1px);
  @include single-box-shadow(red, 0, 0, 5px, 0);
}
.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


//-----------------------------------
// Add your own custom styles below
//-----------------------------------

body {}

hr {
  @include single-box-shadow(#eee, 0, 1px, 8px, 1px);
}

p {
  margin-bottom: 1em;
}

article header {
  margin-bottom: 1em;

  h1 { @include font-size(14px); }

  time {
    @include font-size(11px);
  }
}

#container {
  @include container;
}

#main-header {
  padding: 1em 0;

  h1 {
    @include single-text-shadow($voff: 1px);
    @include font-size(15px);
  }
}

#main-nav {
  ul { @include delimited-list(" | "); }
}

nav {
  a:visited { color: $link-color; }
}

section h1 {
  margin-bottom: 1em;
}

#main {}

footer {}
