// Modified from https://github.com/Compass/compass/blob/d5df161d0df7edc686e576b22412f437dd0590cc/core/stylesheets/compass/typography/lists/_bullets.scss#L27
@mixin pretty-bullet($bullet-icon,
                     $width: image-width($bullet-icon),
                     $height: image-height($bullet-icon),
                     $line-height: 18px,
                     $padding: 24px) {

  padding-left: $padding;
  background: image-url($bullet-icon) no-repeat ($padding - $width) / 2 ($line-height - $height) / 2;
  list-style-type: none;
}
