<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
  <!--<![endif]-->
  <head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <title>{% if page.title %}{{page.title}} - {% endif %}{{ site.title }}</title>
    <meta content="{{ page.description }}" name="description" />
    <meta content='{{ site.author }}' name='author' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/favicon.ico?v=1" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/atom.xml" />
    <link href="http://fonts.googleapis.com/css?family=PT+Serif:700italic|Audiowide"
      rel="stylesheet" type="text/css">
    <link href='/css/app.css?v=1' media='all' rel='stylesheet' />
    <script src='/js/head.min.js'></script>
  </head>
  <body>
    <header role="banner">
      <div class="top-bar">
        <div class="top-bar-left">
          <a href="/" class="site-title">{{ site.title }}</a>
        </div>
        <nav role="navigation" class="top-bar-right">
          <ul class="menu">
            <li><a href="/works.html">Works</a></li>
            <li><a href="/open_source.html">Open Source</a></li>
            <li><a href="http://codeftw.blogspot.com">Blog</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main role="main" class="content">{{ content }}</main>
    <footer role="contentinfo" class="main-footer">
      <div id="footer-links">
        <ul id="related-links">
          <li class="twitter"><a href="http://twitter.com/htanata">twitter.com/htanata</a></li>
          <li class="github"><a href="http://github.com/htanata">github.com/htanata</a></li>
          <li class="goodreads"><a href="https://www.goodreads.com/htanata">goodreads.com/htanata</a></li>
          <li class="email">
            <script type="text/javascript">eval(decodeURIComponent('%64%6f%63%75%6d%65%6e%74%2e%77%72%69%74%65%28%27%3c%61%20%68%72%65%66%3d%22%6d%61%69%6c%74%6f%3a%68%65%6e%64%79%40%74%61%6e%61%74%61%2e%6e%65%74%22%3e%68%65%6e%64%79%40%74%61%6e%61%74%61%2e%6e%65%74%3c%2f%61%3e%27%29%3b'))</script>
            <noscript>Please enable JavaScript to view my email.</noscript>
          </li>
        </ul>
        <div id="stackoverflow-flair">
          <a href="http://stackoverflow.com/users/4353/htanata">
            <img src="http://stackoverflow.com/users/flair/4353.png" width="156" height="44" alt="profile for htanata at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for htanata at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
          </a>
        </div>
      </div>
      <div id="copyright">&copy;{{ site.time | date: "%Y" }} {{ site.author }}</div>
    </footer>
    <script type="text/javascript">
      //<![CDATA[
      head.js(
        {jquery: "//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"}
      );

      var _gaq=[["_setAccount","UA-888979-5"],["_trackPageview"]];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
      s.parentNode.insertBefore(g,s)}(document,"script"));

      head.ready(function() {
        $('a[href^="http://"]').click(function() {
          _gat._getTrackerByName()._trackEvent('outbound', this.href);
          setTimeout('document.location = "' + this.href + '"', 100);
          return false;
        });
      });
      //]]>
    </script>
    <!--[if lt IE 7 ]>
      <script src='/js/dd_belatedpng.js'></script>
      <script type='text/javascript'>
        //<![CDATA[
          //DD_belatedPNG.fix('img, .png_bg');
        //]]>
      </script>
    <![endif]-->
  </body>
</html>
