<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class='no-js' lang='en'>
  <!--<![endif]-->
  <head>
    <meta charset='utf-8' />
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible' />
    <title>{% if page.title %}{{page.title}} - {% endif %}{{ site.title }}</title>
    <meta content='' name='description' />
    <meta content='{{ site.author }}' name='author' />
    <meta content='width=device-width, initial-scale=1.0' name='viewport' />
    <link rel="alternate" type="application/atom+xml" title="Feed" href="/atom.xml" />
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:light|Amaranth|Droid+Sans' rel='stylesheet' type='text/css'>
    <link href='/css/style.css?v=1' media='all' rel='stylesheet' />
    <script src='/js/modernizr.min.js'></script>
  </head>
  <body>
    <div id='container'>
      <header id="main-header">
        <h1><a href="/">Hendy Tanata</a></h1>
      </header>
      <nav id="main-nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="http://codeftw.blogspot.com">Blog</a></li>
        </ul>
      </nav>
      <hr />
      <div id='main'>{{ content }}</div>
      <hr />
      <footer>
        <ul>
          <li class="twitter"><a href="http://twitter.com/htanata">twitter.com/htanata</a></li>
          <li class="github"><a href="http://github.com/htanata">github.com/htanata</a></li>
        </ul>
      </footer>
    </div>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js'></script>
    <script type='text/javascript'>
      //<![CDATA[
        window.jQuery || document.write("<script src='js/jquery.min.js'>\x3C/script>")
      //]]>
    </script>
    <script src='/js/plugins.js?v=1'></script>
    <script src='/js/script.js?v=1'></script>
    <!--[if lt IE 7 ]>
      <script src='/js/dd_belatedpng.js'></script>
      <script type='text/javascript'>
        //<![CDATA[
          //DD_belatedPNG.fix('img, .png_bg');
        //]]>
      </script>
    <![endif]-->
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq=[["_setAccount","UA-XXXXX-X"],["_trackPageview"]];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
        g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
        s.parentNode.insertBefore(g,s)}(document,"script"));
      //]]>
    </script>
  </body>
</html>
